.navbar-collapse.chapters{
  margin-left: 720px;
  margin-top: 5px;
  }

p {
  margin-top: 12%;
  padding-bottom: 5%;  
  margin-left: 10%;
  margin-right: 12%;
  text-align: right;
}


/* Hide the link that should open and close the topnav on small screens */
.navbar-collapse .icon {
  display: none;
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 600px;
    margin: 30px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
  .modal-lg {
    width: 900px;
  }
}