body{
    margin: 0;
    padding:0;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height:100vh;
    background:#000000;
    font-family: 'Open Sans', sans-serif;
}
.shiny{
    position: relative;
    display: inline-block;
    padding:150000 px 30px;
    letter-spacing: 3.5px;
    font-size: 15px;
    overflow: hidden;
    transition:0.2s;
    margin-top: 12%;

}
.shiny:hover{
background:#ffe8cc;
box-shadow: 0 0 10px   #ffe8cc, 0 0 40px   #ffe8cc, 0 0 80px  #ffe8cc;
}

