
body{
	font-size: 20px;
	font-family: 'Open Sans', sans-serif;

}
.header_2{
	width: 77%;
	margin: 40px auto 0px;
	color: white;
	background: rgb(242,133,0) ;
	text-align: center;
	border: 1px solid gray;
	border-radius: 8px 8px 0px 0px;
	margin-top: 1%;
}

.logo a {
display: inline-block; 
} 
.logo a img{
margin-top: -21px;
margin-bottom: -16px;
margin-left: 10px;
max-width: 45%;
height: auto;
background:transparent;
}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
}

.glossary{
	padding-left: 70%;
}

.wrapper{
	width: 77%;
	margin: 0px auto;
	border: 1px solid gray;

}
.wrapper:after{

	content: "";
	display: block;
	clear: both;

}
.words{
	width: 20%;
	background:black	 ;
	padding-top: 10px;
	float: left;

}

.word{
	width: 69%;
	float: left;
	padding-left: 10px;
	text-align: right;
}

#word_list{
	max-height: 350px;
	overflow-y: scroll;
	text-align: center;
	color: white;

}
li{
	list-style-type: none;
	line-height: 1.4em;
}
li:hover{
	cursor: pointer;
	color: rgb(242,133,0);
}
ul{
	margin-left: -10px;
}
h3{
	color:rgb(242,133,0);
}
#search {
	margin-left: 10px;
	width: 60%;
	padding: 5px;
	height: 25px;
}
button{
	height: 27px;
	background: rgb(242,133,0);
	color: white;
	border: none;
	border-radius: 4px;
}

* {box-sizing: border-box;}


.header {
  overflow: hidden;
  background-color: white;
  padding: 7px 7px;
  border-bottom: 1.2px solid;
  border-color: rgba(127, 90, 5, 1);
  }

.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 17px;
  text-decoration: none;
  font-size: 16px; 
}


.header a:hover {
  background-color: white;
  color: black;
}

.header a.active {
  background-color: white;
  color: white;
}

.header-right {
	  margin-left: 70%;
	  margin-top: 2%;

}

@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: right;
  }
  
  .header-right {
    float: none;
  }
}
#h{
	text-align: left;
}

#related{
	text-align: right;
	margin-right: 2%;
}
#definition{
	text-align: left;
	margin-left: 7%;
	
}
#word_text{
	margin-right: 1%;

}